
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div class="container">
    <div class="card card-login mx-5 mt-5">
      <div class="card-header">Registrarme</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:'Ingrese email' %>
          </div>

          <div class="form-group">
            <%= f.label :Contraseña %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caracteres mínimos)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:'Ingrese contraseña' %>
          </div>
          <div class="form-group">
          <%= f.label :Confirmar_Contraseña %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:'Confirmar contraseña'  %>
          </div>

          
          <%= f.submit "Registrarme", class:"btn btn-primary btn-block" %>
       
        </form>
        <div class="text-center">
        <br>
        <%= render "devise/shared/links", class:"d-block small mt-3" %>
        </div>
      </div>
    </div>
  </div>
<% end %>


