<!--Information-->
<div class= "item_container">
    <h1>NORMAS APA</h1>
    <br>
    <h2>Tablas</h2>
    <hr class="mt-2">

    <div class="panel-body text-justify">
            <p>Según las normas APA, “generalmente las tablas exhiben valores
            numéricos exactos y los datos están dispuestos de forma organizada en
            líneas y columnas, facilitando su comparación" Ya
            las figuras son “cualquier tipo de ilustración que no sea tabla. Una figura
            puede ser un cuadro, un gráfico, una fotografía, un dibujo u otra forma de
            representación”</p>    
        
            <h5>TÍTULO DE LA TABLA</h5>
           <p>El título de la tabla debe ser breve, claro y explicativo. Debe ser puesto
            arriba de la tabla, en el margen superior izquierdo, debajo de la palabra
            Tabla (con la inicial en mayúscula) y acompañado del número con que la
            designa (las tablas deben ser enumeradas con números arábigos
            secuencialmente dentro del texto y en su totalidad). Ej.: Tabla 1, Tabla 2,
            Tabla 3, etc.</p>
            
            <h5>CITAR TABLAS EN EL CUERPO DEL TEXTO</h5>
            <p> Al citar tablas en el cuerpo del texto, escriba apenas el número
                correspondiente a la tabla, por ejemplo: Tabla 1, Tabla 2, Tabla 3, etc. (la
                palabra Tabla tendrá que ser presentada con la inicial mayúscula)
                Observaciones Nunca escriba "tabla abajo/arriba o tabla de la página xx, pues la
                numeración de las páginas del trabajo puede ser alterada.</p>
            
           
            <h5>CUERPO DE LA FUENTE DE LA TABLA</h5>
            <p>Times New Roman, tamaño 10</p>

            <h5>FUENTE DE LAS NOTAS DE LA TABLA</h5>
            <p>Times New Roman, tamaño 9</p>

            <h5>NOTAS DE LA TABLA</h5>
            <p> Las tablas presentan tres tipos de notas: notas generales, notas
                específicas y notas de probabilidad. “Las notas son útiles para eliminar la
                repetición en el cuerpo de una tabla". Ellas son
                presentadas en el margen izquierdo (sin sangría) debajo de la tabla
                (entre la tabla y la nota hay que inserir dos espacios). Y deben ser
                ordenadas en esta secuencia: nota general, nota específica y nota de
                probabilidad, y cada tipo de nota debe ser puesta en una línea nueva.
                Notas generales: “Una nota general cualifica, explica u ofrece
                informaciones relacionadas a la tabla como un todo y finaliza con una
                explicación de abreviaturas, símbolos y afines”.
                Nota específica se refiere a una columna, línea o ítem específico y debe
                ser indicada por letra minúscula sobrescrita (a, b, c).
                Nota de probabilidad indica los resultados de pruebas significativos y se
                indican con asterisco sobrescrito (*).</p>
            <h5>Ejemplo</h5>
            <img src="../assets/tabla1.PNG" alt="tabla">
    </div>

    <h2>Figuras</h2>
    <hr class="mt-2">

    <div class="panel-body text-justify">
            <p>Según la APA, “una figura es cualquier tipo de ilustración que no sea tabla.
                Una figura puede ser un cuadro, un gráfico, una fotografía, un dibujo u otra
                forma de representación”</p>    
        
            <h5>TÍTULO DE LA FIGURA</h5>
           <p>El título explica la figura de forma concisa, pero de forma discursiva.
                Debe ser puesto debajo de la figura, con números arábigos
                secuencialmente dentro del texto como un todo, precedido por la palabra
                Figura (con la inicial en mayúscula). Ej.: Figura 1, Figura 2, Figura 3, etc.
                Cualquier otra información necesaria para elucidar la figura (como la
                unidad de medida, símbolos, escalas y abreviaturas) que no están
                incluidas en la leyenda, tendrán que ser colocadas luego del título. </p>
            
            <h5>CUERPO DE LA FUENTE DE LA FIGURA</h5>
            <p> Times New Roman, tamaño 10</p>
            
           
            <h5>LEYENDA</h5>
            <p>Se trata de la explicación de los símbolos empleados en la figura y debe
                ser puesto dentro de los límites de la figura. </p>

            <h5>CITAR FIGURAS EN EL CUERPO DEL TEXTO</h5>
            <p>Al citar figuras en el cuerpo del texto, escriba apenas el número
                    correspondiente a la figura, por ejemplo: Figura 1, Figura 2, Figura 3, etc.
                    (la palabra Figura tendrá que ser presentada con la inicial mayúscula)</p>

            <h5>Ejemplo</h5>
            <img src="../assets/figura1.PNG" alt="tabla">
    </div>

    <h2>Citas</h2>
    <hr class="mt-2">

    <div class="panel-body text-justify">
            <p>Una cita es la expresión parcial de ideas o afirmaciones incluidas en un texto con referencia precisa
                    de su origen o fuente y la consignación dentro de la estructura del texto. En el estilo APA se utilizan
                    paréntesis dentro del texto en lugar de notas al pie de página o al final del texto, como en otros
                    estilos. La cita ofrece información sobre el autor y año de publicación, que conduce al lector a las
                    referencias que se deben consignar al final del documento. Básicamente hay dos formas de realizar
                    una cita dependiendo de lo que se quiera enfatizar con ella. En el primer caso, se hace un énfasis al
                    autor cuando lo que se quiere citar o resaltar es el pensamiento o la posición específica de alguien
                    sobre algún tema. Por otra parte, en las citas basadas en el texto, se quiere hacer referencia a una
                    frase o teoría específica en la que el autor tiene un papel secundario. De la misma manera, la cita se
                    puede realizar de manera de manera textual o parafraseada para lo cual es relevante el número de
                    palabras citadas para configurar la cita, como se verá a continuación.</p>    
        
            <h5>Cita textual</h5>
           <p>Una cita es textual cuando se extraen fragmentos o ideas textuales de un texto. Las palabras o frases
                omitidas se reemplazan con puntos suspensivos (...). Para este tipo de cita es necesario incluir el
                apellido del autor, el año de la publicación y la página en la cual está el texto extraído. El formato de
                la cita variará según el énfasis -en el autor o en el texto-.
                </p>
            
            <h5>Citas de menos de 40 palabras</h5>
            <p>Cuando la cita tiene menos de 40 palabras se escribe inmersa en el texto, entre comillas y sin cursiva
                    . Se escribe punto despues de finalizar la cita y todos los datos.</p>
                    
            <h5>Cita basada en el autor</h5>
            <img src="../assets/citaBAutor.PNG" alt="cita">
            
            <h5>Cita basada en el texto</h5>
            <img src="../assets/citaBTexto.PNG" alt="cita">
           
            <h5>Cita de más de 40 palabras</h5>
            <p>Las citas que tienen más de 40 palabras se escriben aparte del texto, con sangría, sin comillas y sin
                cursiva. Al final de la cita se coloca el punto antes de los datos -recuerde que en las citas con menos
                de 40 palabras el punto se pone después-. De igual forma, la organización de los datos puede
                variar según donde se ponga el énfasis, al igual que en el caso anterior.
                </p>

                <h5>Cita basada en el autor</h5>
                <img src="../assets/citaBAutor2.PNG" alt="cita">
                
                <h5>Cita basada en el texto</h5>
                <img src="../assets/CitaBtexto2.PNG" alt="cita">

            <h5>Cita de parafraseo</h5>
            <p>En la cita de parafraseo se utilizan las ideas de un autor, pero en palabras propias del escritor. En
                    esta cita es necesario incluir el apellido del autor y el año de la publicación. Así mismo puede variar
                    de acuerdo al énfasis que se haga. Una cita de parafraseo del ejemplo anterior podría ser:
                </p>

                <h5>Cita basada en el autor</h5>
                <img src="../assets/citaparafraseo.PNG" alt="cita">
                
                <h5>Cita basada en el texto</h5>
                <img src="../assets/citaparafraseo2.PNG" alt="cita">

    </div>

    <h2>Referencias</h2>
    <hr class="mt-2">

    <div class="panel-body text-justify">
            <p>Las referencias son un listado con la información completa de las fuentes citadas en el texto, que
                    permite identificarlas y localizarlas para cerciorarse de la información contenida allí o complementarla,
                    en caso de ser necesario.</p>    
        
            <h5>¿Cuál es la diferencia entre la lista de referencias y la bibliografía?</h5>
           <p>En la lista de referencias, el autor incluye solo aquellas fuentes que utilizó en su trabajo. En este
            sentido, “una lista de referencias cita trabajos que apoyan específicamente a un artículo en particular.
            En contraste, una bibliografía cita trabajos que sirvieron de fundamento o son útiles para
            una lectura posterior, y puede incluir notas descriptivas”. En el estilo APA se usan las referencias.
            </p>
            
            <h5>¡Importante!</h5>
            <p>Todos los autores citados en el cuerpo de un texto o trabajo deben coincidir con la lista de referencias
                del final, nunca debe referenciarse un autor que no haya sido citado en el texto y
                viceversa. La lista de referencias se organiza en orden alfabético y cada una debe tener sangría
                francesa. Para la referenciación de números o volúmenes de alguna publicación es necesario usar
                números arábigos y no romanos.</p>
                    
            <img src="../assets/referencia.PNG" alt="cita">
           
            <h5>Libro</h5>
            <p>Cada libro en las primeras páginas trae una identificación que provee toda la información
                necesaria para realizar la referencia bibliográfica. La página que usted encontrará
                será similar a estas:
            </p>

                <img src="../assets/referencialibro.PNG" alt="cita">
                <br>
                <br>
            <h5>Publicaciones periódicas</h5>

            <h6>Artículos científicos (Journal)</h6>
            <p>La información para realizar la referencia de un artículo se puede encontrar en alguna de estas
            formas:</p>

                <img src="../assets/refereciarevista.PNG" alt="cita">

            <h5>Artículo con DOI</h5>
            <p>DOI (Digital Object Identifier), Identificación de material digital, es un código único que
                tienen algunos artículos extraids de bases de datos en la web. Cuando el artículo tiene
                DOI se omite la URL y la fecha de recuperación del artículo
            </p>

                <img src="../assets/articuloconDOI.PNG" alt="cita">
                
                
                
                
    </div>


</div>
