<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="/">ApaNica</a>
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                &#9776;
            </button>
            <div class="collapse navbar-collapse" id="exCollapsingNavbar">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a href="/references/new" class="nav-link">Generador</a></li>
                    <li class="nav-item"><a href="/libros" class="nav-link">Libros</a></li>
                    <li class="nav-item"><a href="/information/NormasAPA" class="nav-link">Información</a></li>
                    <!--
                    <%= notice %>
                    <%= alert %>
                    -->
                </ul>
                <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                    <% if user_signed_in? %>
                        <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, :class=>"nav-link"%>
                    <% else %>
                        <%= link_to "Registrarme", new_user_registration_path, :class=>"nav-link" %>
                        <%= link_to "Iniciar Sesión", new_user_session_path, :class=>"nav-link" %>
                    <% end %>
                </ul>
            </div>
        </div>
    </nav>