<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="container">
    <div class="card card-login mx-5 mt-5">
      <div class="card-header">Inicio de Sesión</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:'Ingrese email' %>
          </div>

          <div class="form-group">
            <%= f.label :Contraseña %><br />
            <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:'Ingrese contraseña'%>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <div class="form-check">
                <%= f.check_box :remember_me, class:"form-check-input" %>
                <%= f.label :Recuérdame, class:"form-check-label" %>
              </div>
            </div>
          <% end -%>
          
          <%= f.submit "Iniciar Sesión", class:"btn btn-primary btn-block" %>
       
        </form>
        <div class="text-center">
        <br>
        <%= render "devise/shared/links", class:"d-block small mt-3" %>
        </div>
      </div>
    </div>
  </div>
<% end %> 



