<%= form_with(model: reference, local: true) do |form| %>

  <div class="content-wrapper">
    <div class="container-fluid">

      <% if reference.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(reference.errors.count, "error") %> prohibited this reference from being saved:</h2>
    
        <ul>
        <% reference.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <!--div class="field col-sm-6 col-md-3">
      <%= form.label :user_id %> <br>
      <%= form.text_field :user_id, id: :reference_user_id %>
    </div-->

      <hr class="mt-2">
      
        <div class="item_container card-body">
          <form class="form" action="">
            <div class="row">
              <div class="form-group col-sm-6 col-md-4">
                <%= form.label "Año:" %> <br>
                <%= form.text_field :year, id: :reference_year, class: 'form-control' %>
              </div>
              
              <div class="form-group col-sm-6 col-md-4">
                <%= form.label "Título:" %> <br>
                <%= form.text_field :title, id: :reference_title, class: 'form-control' %>
              </div>
              
              <div class="form-group col-sm-6 col-md-4">
                <%= form.label "Subtítulo:" %> <br>
                <%= form.text_field :subtitle, id: :reference_subtitle, class: 'form-control' %>
              </div>
              
              <div class="form-group col-sm-6 col-md-4">
                <%= form.label "Lugar de Publicación:" %> <br>
                <%= form.text_field :publicationPlace, id: :reference_publicationPlace, class: 'form-control' %>
              </div>
              
              <div class="form-group col-sm-6 col-md-4">
                <%= form.label "Editorial:" %> <br>
                <%= form.text_field :editorial, id: :reference_editorial, class: 'form-control' %>
              </div>
              
              <div class="form-group col-sm-6 col-md-4">
                <%= form.label "Apellido:" %> <br>
                <%= form.text_field :authorLastName, id: :reference_authorLastName, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group col-sm-6 col-md-4">
                <%= form.label "Inicial del Autor:" %> <br>
                <%= form.text_field :authorName, id: :reference_authorName, class: 'form-control' %>
              </div>
              <div class="form-group row">
                  <div class="col-6 col-md-3"><button type="submit" class="btn btn-block btn-success">Guardar</button></div>
                  <div class="col-6 col-md-3"><button type="reset" class="btn btn-block btn-danger">Cancelar</button></div>
                  <div class="col-6 col-md-3"><%= link_to 'Back', references_path %></div>
             </div>
            
            </div>
          </form>
        </div>
    </div>
  </div>
<% end %>
