<p id="notice"><%= notice %></p>
<div class="item_container">
<h1>Referencias</h1>

<table id="dataTable" class="table table-hover" cellspacing="0">
  <thead>
  
    <tr>
      <th scope="col">Inicial</th>
      <th scope="col">Apellido</th>
      <th scope="col">Año</th>
      <th scope="col">Título</th>
      <th scope="col">Lugar de Publicación</th>
      <th scope="col">Editorial</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @references.each do |reference| %>
      <tr>
        <!--td><%= reference.user.email %></td-->
        <td><%= reference.authorName %></td>
        <td><%= reference.authorLastName %></td>
        <td><%= reference.year %></td>
        <td><%= reference.title %></td>
        <td><%= reference.publicationPlace %></td>
        <td><%= reference.editorial %></td>
        <td>
          <%= link_to 'Ver', reference %>
          |
          <%= link_to 'Editar', edit_reference_path(reference) %>
          |
          <%= link_to 'Eliminar', reference, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reference', new_reference_path %>

</div>
