<div class="item_container">
<p id="notice"><%= notice %></p>

<p>
    <strong>Inicial:</strong>
    <%= @reference.authorName %>
</p>

  <p>
      <strong>Apellido:</strong>
      <%= @reference.authorLastName %>
  </p>

<p>
  <strong>Year:</strong>
  <%= @reference.year %>
</p>

<p>
  <strong>Title:</strong>
  <%= @reference.title %>
</p>

<p>
  <strong>Publicationplace:</strong>
  <%= @reference.publicationPlace %>
</p>

<p>
  <strong>Editorial:</strong>
  <%= @reference.editorial %>
</p>

<p>
  <strong>Pagenumber:</strong>
  <%= @reference.pageNumber %>
</p>

<h2>Referencia</h2>
<p>
  <%= @reference.authorLastName%>, <%= @reference.authorName%> (<%= @reference.year %>).
  <i>
      <%= @reference.title %>.
  </i>
  <%= @reference.publicationPlace %>:<%= @reference.editorial %>.

</p>

<%= link_to 'Edit', edit_reference_path(@reference) %> |
<%= link_to 'Back', references_path %>
</div>




