html, body {
    height: 100%;
    margin: 0;
}

.divider {
    height:50px;
}

.footer {
    background-color:#343a40;

    color:#efefef;
    padding-top:15px;
}

.wrapper {
    min-height: 100%;
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
}

.footer, .push {
    height: 50px;
}

section {
    height:500px;
    padding-top:50px;
    padding-bottom:50px;
    overflow:auto;
}

.bg-1 {
	background: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), asset-data-url("books-background.jpg") no-repeat center center fixed;
    color:#fff;
    background-size:cover;
    background-blend-mode: multiply;
}
  
.bg-2 {
	background: asset-data-url("books-background.jpg") no-repeat top center fixed;
    color:#fff;
    background-size:cover;
}

.bg-3 {
	background: asset-data-url("books-background.jpg") no-repeat bottom center fixed;
    color:#fff;
    background-size:cover;
}

.field_with_errors {
    padding: 2px;
    background-color: #c00;
    display: table;
}

#error_explanation {
    width: 450px;
    border: 2px solid #c00;
    padding: 7px 7px 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}

.item_container{
    transition-duration: .3s;
    padding: 40px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item_container:hover{
    transition-duration: .3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}  