<% @response.each do |reference| %>
    <div class="item_container row">
        <div class="col-auto">
            <% if !reference['volumeInfo']['imageLinks'].nil? %>
                <img src="<%= reference['volumeInfo']['imageLinks']['thumbnail'] %>">
            <% end %>
        </div>
        <div class="col">
            <% if !reference['volumeInfo']['title'].nil? %>
                <h5>
                    <%= reference['volumeInfo']['title'] %>
                </h5>
            <% end %>
            <% if !reference['volumeInfo']['authors'].nil? %>
                <p>
                    Autor(es):
                    <% reference['volumeInfo']['authors'].each_with_index do |author,i| 
                        temp=""
                        if i+2<reference['volumeInfo']['authors'].length then
                            temp=","
                        elsif i+2==reference['volumeInfo']['authors'].length then
                            temp=" &"
                        end
                        %>
                        <%=author%><%=temp%>
                    <% end %>
                </p>
            <% end %>
            <p>
                Editorial:
                <% if !reference['volumeInfo']['publisher'].nil? %>
                    <%=reference['volumeInfo']['publisher']%>
                <% else %>
                    n/a
                <% end %>
                <% if !reference['volumeInfo']['publishedDate'].nil? %>
                    en: <%=reference['volumeInfo']['publishedDate']%>
                <% end %>
            </p>
            <p style="text-align:justify">
                <% if !reference['volumeInfo']['description'].nil? %>
                    <%=reference['volumeInfo']['description']%>
                <% end %>
            </p>
            <hr>
            





            <% if !reference['volumeInfo']['authors'].nil? %>
                <% reference['volumeInfo']['authors'].each_with_index do |author, i| %>
                    <%
                        temp=""
                        if i+2<reference['volumeInfo']['authors'].length then
                            temp=","
                        elsif i+2==reference['volumeInfo']['authors'].length then
                            temp=" &"
                        end

                        a=author.split(/( )/)
                        sliced = a[1..-1].each_slice(2).map(&:join)
                        final = [a[0]] + sliced
                        if final.length == 2 then
                            nombre=final[0][0,1]
                            apellido=final[1]
                        end
                        if final.length > 2 then
                        nombre=final[0][0,1]
                        apellido=final[2]
                    end
                    %>
                    <%=apellido%>, <%=nombre%>.<%=temp%>
                <% end %>
            <% else %>
                Anónimo.
            <% end %>

            <% if !reference['volumeInfo']['publishedDate'].nil? %>
                (<%=reference['volumeInfo']['publishedDate'][0,4]%>).
            <% else %>
                (s.f.).
            <% end %>
            <i>
            <% if !reference['volumeInfo']['title'].nil? %>
                <%= reference['volumeInfo']['title']%>.
            <% end %>
            </i>
            <% if !reference['volumeInfo']['publisher'].nil? %>
                <%=reference['volumeInfo']['publisher']%>.
            <% end %>



        </div>
    </div>
    <br>
<% end %>