<!--parallax 1 -->
<section class="bg-1">
    <h1 class="text-center" style="margin-top:120px;">Generador de referencias</h1>
        <%= form_tag(booksearch_path_url, :method => 'get') do %>    
            <div class="input-group col-8 mx-auto">
                <%= text_field_tag :search, params[:search], class: 'form-control' %>
                <div class="input-group-append">
                    <%= submit_tag("Buscar", :class=>"btn btn-secondary") %>
                </div>
            </div>
        <% end %>
        <div class="col-8 mx-auto">
            <a href="references/new">Generar referencia a mano</a>
        </div>
</section>
<!--/parallax 1-->


<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="container">

            <hr>

            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Tablas y Figuras</h3>
                        </div>
                        <div class="panel-body text-justify">Cualquier forma de presentación empleada en un trabajo tendrá que ser
                                                denominada Tabla o Figura. Según las normas APA, “generalmente las tablas exhiben valores
                                                numéricos exactos y los datos están dispuestos de forma organizada en
                                                líneas y columnas, facilitando su comparación". Y las figuras son “cualquier tipo de 
                                                ilustración que no sea tabla. Una figurapuede ser un cuadro, un gráfico, una fotografía, 
                                                un dibujo u otra forma de representación”. 
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Citas</h3>
                        </div>
                        <div class="panel-body text-justify">Una cita es la expresión parcial de ideas o afirmaciones incluidas en un texto con referencia precisa
                                                            de su origen o fuente y la consignación dentro de la estructura del texto. En el estilo APA se utilizan
                                                            paréntesis dentro del texto en lugar de notas al pie de página o al final del texto, como en otros
                                                            estilos. La cita ofrece información sobre el autor y año de publicación, que conduce al lector a las
                                                            referencias que se deben consignar al final del documento que se esta utilizando la cita. 
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Referencias</h3>
                        </div>
                        <div class="panel-body text-justify">Las referencias son un listado con la información completa de las fuentes citadas en el texto, que
                                                            permite identificarlas y localizarlas para cerciorarse de la información contenida allí o complementarla,
                                                            en caso de ser necesario. En la lista de referencias, el autor incluye solo aquellas fuentes que utilizó en su trabajo. En este
                                                            sentido, “una lista de referencias cita trabajos que apoyan específicamente a un artículo en particular.
                        </div>
                    </div>
                </div>
            </div>
            <!--/row-->

            <hr>

        </div>
    </div>
</div>
<!--/container-->

<div class="divider"></div>

<section class="bg-2 text-center">
        <h1>Rapido y facil de usar</h1>
</section>

<div class="divider"></div>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>IDEA</h3>
                </div>
                <div class="panel-body text-justify">ApaNica es un sitio Web de ayuda para los estudiantes que tienen problemas con las molestas pero
                                        necesarias normas APA, aqui los ayudaremos con información y generadores para referencias,
                                        ademas de eso, a traves de esta aplicación puedes tener acceso a los libros de google books que tambien puedes referenciar 
                                        de la forma correcta. 

                </div>
            </div>
        </div>
    </div>
</div>
<!--/container-->

<div class="divider"></div>

<!--parallax 2 -->
<section class="bg-3 text-center">
    <h1>Las Normas APA pueden ser divertidas</h1>
    <p class="lead"></p>
</section>
<!--/parallax 2-->

<script>
    (function ($) {

        $.fn.parallax = function (options) {

            var windowHeight = $(window).height();

            // Establish default settings
            var settings = $.extend({
                speed: 0.15
            }, options);

            // Iterate over each object in collection
            return this.each(function () {

                // Save a reference to the element
                var $this = $(this);

                // Set up Scroll Handler
                $(document).scroll(function () {

                    var scrollTop = $(window).scrollTop();
                    var offset = $this.offset().top;
                    var height = $this.outerHeight();

                    // Check if above or below viewport
                    if (offset + height <= scrollTop || offset >= scrollTop + windowHeight) {
                        return;
                    }

                    var yBgPosition = Math.round((offset - scrollTop) * settings.speed);

                    // Apply the Y Background Position to Set the Parallax Effect
                    $this.css('background-position', 'center ' + yBgPosition + 'px');

                });
            });
        }
    }(jQuery));

    $('.bg-1,.bg-3').parallax({
        speed: 0.15
    });

    $('.bg-2').parallax({
        speed: 0.25
    });

</script>