<!DOCTYPE html>
<html>
  <head>
    <title>ApaHelp</title>
    <script src="/assets/jquery.js" type="text/javascript"></script>
    <script src="/assets/jquery_ujs.js" type="text/javascript"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>
    <div class="wrapper">
      <%= yield %>
      <div class="push"></div>
    </div>
    



     <footer class="footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © CodeArt 2018</small>
        </div>
      </div>
</footer>
  </body>
  
</html>
